:root{
    --bg-color: black;
    --main-color:white;
    --gray: rgba( 255, 255, 255 ,0.5);
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--main-color);
}
*, *::before, *::after {
    box-sizing: border-box;
  }
.container{
    margin: 0 auto;
    width: 80%;
    
}
section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
header h1 {
    left: 40%;
    font-size: 50px;
    margin: 0;
}
header p {
    margin: 0;
}
.scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 20px;
    height: 20px;
    
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
  }
  .scrolldown span  {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    animation: animate 1.5s linear infinite;
    opacity: 0;
  }
  @keyframes animate {
    0%
    {
      top: -5px;
      left: -5px;
      opacity: 0;
    }
    25%
    {
      top: 0px;
      left: 0px;
      opacity: 1;
    }
    100%
    {
      top: 0px;
      left: 0px;
      opacity: 0;
    }
  }
  
  .scrolldown span:nth-child(2){
    transform: translate(0px, 0px);
  }
  .main-content{
    display: grid;
    width: 100%;
  }
  .sublist-title{
      font-size: 3rem;
      margin: 0;
  }
  .sublist-container ul{
      margin: 0;
      margin-top: 20px;
      padding: 0;
      width: 100%; 
  }
  .sublist-container ul li {
      list-style: none;
      margin-bottom: 50px;
      
      
  }
  .sublist-container ul li::after{
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--gray);
      margin-top: 15px;
  }
  .sublist-container ul li a{
      color: var(--main-color);
      font-size: 24px;
      text-decoration: none;
      
      
  }
  .sublist-container ul li a:hover{
      color: var(--gray);
  }
  body::-webkit-scrollbar {
    display: none;
  }
  @media (max-width:400px) {
    header h1 {
      font-size: 40px;
    }
  }